<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px; background-color: #f4f2ff;">
    <header>     <% include ./partials/_header %> </header>
        <br></br>
    <table style="width:70%;" class="test">
            <tr>
              <th>Shortened URL </th>
              <th>Full URL</th> 
              <th>Take an action</th> 
            </tr>
                <% Object.keys(urls).forEach(function (prop) { %>
                    <tr>
                        <td><%= prop %></td>
                            <td>
                    <%= urls[prop] %>
                            </td>
                            <td>
                              <a href="/urls/<%= prop %>">Edit</a>
                              <!-- <form class="form-inline"  method="POST" action="/urls/<%= prop %>">
                              <button type="submit" class="btn btn-primary">Edit</button>
                            </form> -->
                          </td>
                            <td><form class="form-inline"  method="POST" action="/urls/<%= prop %>/delete">
                              <button type="submit" class="btn btn-primary">Delete</button>
                            </form></td>
                        </tr>
                <% }) %>            
          </table>

          <a style="cursor: pointer !important; position:relative; top: 100px; width: 300px; margin-top: 80px; left: 100px; padding:20px; background-color:#42f49e; !important; border:0px; border-radius: 50px;"  href="/urls/new"><span style="color:fff !important;">Make it Short</span></a>


</body>
</html>